<% layout("/layouts/boilerplate") %>
<body>
        <h1 class="edit_Listing">Edit your Listing</h1>
        <form method="post" action="/Listings/<%= data._id %>?_method=PUT">
            <div class="form_div_2">
                <div class="new_title_div">
                    <label for="title">Title:</label>
                    <br>
                    <input type="text" id="title" name="title" required value="<%= data.title %>" class="title_box">
                </div>
                <div class="new_description_div">
                    <label for="description">Description:</label>
                    <br>
                    <textarea id="description" name="description" rows="5" cols="10" class="description_box"><%= data.description %></textarea>
                </div>
                <div class="new_image_div">
                    <label for="image">Image URL:</label>
                    <br>
                    <input type="text" id="image" name="image[url]" value="<%= data.image.url %>" class="image_box">
                </div>
                <span>
                    <div class="new_price_div">
                        <label for="price">Price:</label>
                        <br>
                        <input type="number" id="price" name="price" step="0.01" value="<%= data.price %>" class="price_box">
                    </div>
                    <div class="new_location_div">
                        <label for="location">Location:</label>
                        <br>
                        <input type="text" id="location" name="location" value="<%= data.location %>" class="location_box">
                    </div>
                </span>
                <div class="new_country_div">
                    <label for="country">Country:</label>
                    <br>
                    <input type="text" id="country" name="country" value="<%= data.country %>" class="country_box">
                </div>
                <button type="submit">Edit</button>
            </div>
        </form>
    </div>
</body>
