<% layout("/layouts/boilerplate") %>
<body>
    <div class="read_div">
    <h1><%= data.title %></h1>
    <div class="show_description_div"><%= data.description %></div>
    <div class="show_image_div">
        <img src="<%= data.image.url %>" alt="<%= data.title %>">
    </div>
    <div class="show_price_div">Price: $ <%= (data.price || 0).toLocaleString("en-IN") %>
    </div>
    <div class="show_location_div">Location: <%= data.location %></div>
    <div class="show_country_div">Country: <%= data.country %></div>
    <div class="show_edit_div">
    </div>
    <span>
        <a href="/Listings/<%= data._id %>/edit">
            <button type="submit" class="edit_button">Edit</button>
        </a>
       <form method="POST" action="/Listings/<%= data._id %>?_method=DELETE">
        <button type="submit">Delete</button>
        </form>
    </span>
    </div>
    <hr>
    <div class="rating_div">
        <h1>Leave A Review</h1>
        <form action="/Listings/<%= data._id %>/reviews" method="POST" novalidate class="needs-validation">
            <label for="rating" class="form-label" >Rating</label>
            <input id="rating" type="range" name="rating" min="1" max="5" class="form-control" required> 
            <div class="comment_div">
                <label for="comment" class="form-label" >Comments</label>
                <textarea name="comment" id="comment" rows="5" cols="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please write a Comment.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-primary mb-3">Submit</button>
        </form>
    </div>
    <hr>
    <h1 class="review_heading">Popular Reviews</h1>
    <br>
    <div class="reviews_div">
      <% for(let info of data.reviews){ %> 
        <div class="single_review">
            <div class="single_rating">Rating : <%= info.rating %></div>
            <div class="single_comment">Comment : <%= info.comment %></div>
            <div class="single_date"><%= info.createdAt.toLocaleString('en-IN') %></div>
            <form method = "POST" action="/Listings/<%= data._id %>/reviews/<%= info._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
      <% } %>
    </div>
</body>
