<% layout("/layouts/boilerplate") %>
    <div class="read_div">
    <h1><%= data.title %></h1>
    <div class="show_description_div"><%= data.description %></div>
    <div class="show_image_div">
        <img src="<%= data.image.url %>" alt="<%= data.title %>">
    </div>
    <p>Owned By : <i><%= data.owner.username %></i></p>
    <div class="show_price_div">Price: $ <%= (data.price || 0).toLocaleString("en-IN") %>
    </div>
    <div class="show_location_div">Location: <%= data.location %></div>
    <div class="show_country_div">Country: <%= data.country %></div>
    <div class="show_edit_div">
    </div>
    <% if(currUser && currUser._id.equals(data.owner._id)) { %>
        <span>
            <a href="/Listings/<%= data._id %>/edit">
                <button type="submit" class="edit_button">Edit</button>
            </a>
           <form method="POST" action="/Listings/<%= data._id %>?_method=DELETE">
            <button type="submit">Delete</button>
            </form>
        </span>
    <% } %>
    </div>
    <hr>
    <% if(currUser)  { %>
    <div class="rating_div">
        <h1>Leave A Review</h1>
        <form action="/Listings/<%= data._id %>/reviews" method="POST" novalidate class="needs-validation">
            <fieldset class="starability-slot">
                <legend class="rating">Rating : </legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rating" value=1 />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rating" value=2 />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rating" value=3 />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rating" value=4 />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rating" value=5 />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
            <div class="comment_div">
                <label for="comment" class="form-label" >Comments</label>
                <textarea name="comment" id="comment" rows="5" cols="5" class="form-control" required></textarea>
                <div class="invalid-feedback">
                    Please write a Comment.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-primary mb-3">Submit</button>
        </form>
    </div>
<% } %>
    <hr>
    <% if (typeof data.reviews !== "undefined" && data.reviews.length > 0) { %>
        <h1 class="review_heading">Popular Reviews</h1>
    <% } %>
    
    <br>
    <div class="reviews_div">
      <% for(let info of data.reviews){ %> 
        <div class="single_review">
            <div class="p">Review By : @<i><%= info.author.username %></i></div>
            <p class="starability-result" data-rating="<%= info.rating %>">
              </p>
            <div class="single_comment">Comment : <%= info.comment %></div>
            <div class="single_date"><%= info.createdAt.toLocaleString('en-IN') %></div>
            <% if(currUser && currUser._id.equals(info.author._id)) { %>
            <form method = "POST" action="/Listings/<%= data._id %>/reviews/<%= info._id %>?_method=DELETE">
                <button>Delete</button>
            </form>
            <% } %>
        </div>
      <% } %>
    </div>
    <h1 class="map_heading"> Where you'll be ! </h1>
    <div id='map'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWJoaWpheS1zaW5naDEyIiwiYSI6ImNtZWZlaDkxcTBya3YycXNhOTZmbGpuNzMifQ.jHV1EeWDnSGS1vXseijJfw';
    const coordinates = <%- JSON.stringify(data.geometry.coordinates) %>;
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: coordinates,
        zoom: 9,
    });
    new mapboxgl.Marker({ color: 'red' })
        .setLngLat(coordinates)
        .setPopup(
            new mapboxgl.Popup({ offset: 25 })
                .setHTML('<h5><%= data.location %></h5><p>Exact location will be provided after booking.</p>')
                .setMaxWidth('300px')
        )
        .addTo(map);
    </script>
